# Nexus Properties
application-port={{ nexus_port }}
application-host={{ nexus_host }}
nexus-args=${jetty.etc}/jetty.xml,${jetty.etc}/jetty-http.xml,${jetty.etc}/jetty-requestlog.xml
nexus-context-path={{ nexus_context_path }}
